.about {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    flex-direction: column;
}

.about-container-title {
    padding: 3rem 0;
    font-size: 3.2rem;
    font-weight: 700;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: flex-start;
    width: 80%;
    line-height: 4rem;
}

.about-container-desc {
    padding: 3rem 0;
    font-size: 1.3rem;
    font-weight: 300;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: flex-start;
    width: 80%;
    line-height: 2.5rem;
    color: rgb(70, 70, 70);
}

.about-container-image {
    width: 80%;
    padding: 3rem;
}

.about-container-experience {
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: 700;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    display: flex;
    justify-content: flex-start;
    width: 80%;
    flex-direction: column;
}

.about-container-experience-column {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
    align-items: center;
}

/* .about-container-experience-column-1 {
    font-size: 1.5rem;
    gap: 10px;
    line-height: 0.8rem;
    color: rgb(70, 70, 70);
} */

.about-container-experience-column-2 {
    font-size: 1.5rem;
    gap: 20px;
    line-height: 0.8rem;
    color: rgb(70, 70, 70);
}

.about-container-education {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    font-size: 2rem;
    font-weight: 700;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    width: 80%;
}

.about-container-education-container {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.about-container-education-graduation {
    font-size: 1.2rem;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

.about-container-education-diploma {
    font-size: 1.2rem;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

.about-container-education-secondry {
    font-size: 1.2rem;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

.about-container-skills {
    display: flex;
    flex-direction: column;
    padding: 5rem 0;
    font-size: 2rem;
    font-weight: 700;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    width: 80%;
    line-height: 2.5rem;
}

.about-container-skills-container {
    display: flex;
}

.about-container-skills-row1 {
    display: flex;
    /* flex-direction: column; */
    padding: 1rem 0;
    font-size: 1.2rem;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    width: 80%;
    font-weight: 100;
}

.about-container-contact {
    display: flex;
    flex-direction: column;
    padding: 5rem 0;
    font-size: 2rem;
    font-weight: 700;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    width: 80%;
}

.about-container-contact-desc {
    display: flex;
    /* flex-direction: column; */
    padding: 1rem 0;
    font-size: 1.2rem;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    width: 80%;
    font-weight: 100;
}