.header {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    padding: 3rem;
    cursor: pointer;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-weight: 700;
    font-size: 2rem;
}

.header-container-left  {
    text-decoration: none;
    color: inherit;
    color:black;
    
}

.header-container-right {
    text-decoration: none;
    color: inherit;
    color:black;
}


.hero {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container {
    width: 90vw;
    padding: 3rem;
    padding: 5rem;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-weight: 700;
    font-size: 4rem;
}